dtd/ville.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>

<!-- type de donnnee pour le guide touristique -->
<!-- a completer ... -->

<!ELEMENT Ville (nom, departement, plusBeauMonument)*>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT departement (#PCDATA)>
<!ELEMENT plusBeauMonument (nom,tarif)*>
<!ELEMENT tarif (#PCDATA)>

